@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-sizeSmall.MuiInputBase-adornedStart.css-4bojcr-MuiInputBase-root-MuiOutlinedInput-root {
  padding-left: 4px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.css-1n7r7ib-MuiButtonBase-root-MuiButton-root {
  padding: 1px 8px;
  color: #fff;
}

@media (max-width: 426px) {
  .search-box {
    max-width: 60%;
  }
}

@media (max-width: 769px) {
  .MuiGrid2-root.MuiGrid2-container.MuiGrid2-direction-xs-row.MuiGrid2-spacing-xs-2.css-1qabwpx-MuiGrid2-root {
    flex-direction: column-reverse;
  }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-t6aa9m-MuiPaper-root-MuiCard-root {
  height: 95vh;
}

.MuiGrid2-root.MuiGrid2-direction-xs-row.MuiGrid2-grid-xs-12.MuiGrid2-grid-sm-12.MuiGrid2-grid-md-6.MuiGrid2-grid-lg-6.MuiGrid2-grid-xl-6.css-1fp10fd-MuiGrid2-root {
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 3px;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatarGroup-avatar.css-j5tyo {
  border: 2px solid #ede2e2;
}
.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.MuiAvatarGroup-avatar.css-qgsxsj {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border: 2px solid rgb(205 205 205);
  background-color: #cbcbcb;
}

.MuiBox-root.css-dsw18m {
  height: 0;
}
a.inline-block.px-5.py-2.bg-green-700.text-white.rounded-md {
  margin-bottom: 30px;
}

@font-face {
  font-family: "Marcelluse";
  src: url(./app/font/Marcellus-Regular.ttf);
}

@media (min-width: 980px) {
  .MuiBox-root.css-yljj99 {
    padding-left: 21px;
    padding-right: 21px;
  }
}

.image_animation {
  position: relative;
  animation: mymove 2s;
}

@keyframes mymove {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #fff;
  /* border-radius: 50%; */
  transform: translate(-50%, -50%);
  transition:
    width 0.7s ease,
    height 1s ease;
  z-index: 0;
}

.button:hover::before {
  width: 300px;
  height: 300px;
}


.MuiBox-root.css-1oy8f6n {
    overflow: hidden;
}
.MuiBox-root.css-vyvsuu {
    overflow: hidden;
}


.globaliconColor{
  filter: invert(1) brightness(2);
}

.image_arrow{
    filter: invert(1) brightness(2);
    width: 14px;
    rotate: 180deg;
  }
  
  
  .revertbw{
    filter: invert(1) brightness(2);
    rotate: 150deg;
}
.globalCateImge{
  /* background-repeat: no-repeat; */
  /* width: 100%; */
  height: auto;
  background-image: url(./app/assets/Images/myjobee/bg.png);
  
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.spinny {
    animation: spin 15s linear infinite;
}

p.font-semibold.whitespace-pre-line {
    text-align: center;
}


.globalJobsHeader {
  animation-name: headerslide;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes headerslide {
  0% {
    border-top-left-radius: 0;
    opacity: 0.5;
  }
  50% {
    border-top-left-radius: 200px;
    opacity: 1;
  }
  100% {
    border-top-left-radius: 350px;
    opacity: 0.8;
  }
}